
.cabecalhohead {
    width: 80%;
    margin: 0 20px;
    text-align: center;
} 

.posicao2head {
    text-align: center;
}

.meiohead {
    width: 80%;
    margin: 0 auto
}

.conteiner {
    width: 50%;
    margin: auto;

}

.formulario {
    width: 60%;
    margin: 0 auto;
}

.campo {

    margin-bottom: 1em;
}

.campo label {
    margin-bottom: 0, 4em;
    

    display: block;
}

.campo input {
    width: 100%;
    padding: 10px;
    border-top: none;
    border-left: navajowhite;
    border-right: navajowhite;
    border-bottom: 2px solid;
    font-size: 1.5rem;
    
    
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button{

    -webkit-appearance: none;
    margin: 0;
}



.campo {
    margin: 1em 0;
}

textarea {
    width: 102%;
    border: 2px solid;
}

p small {
    color: #ff0000;
}

.botaohead button {
    background:rgb(255, 255, 255);
    padding: 10px 20px;
    color: rgb(7, 6, 6);
    border: 2px solid #0a0a0a;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
}

.botaohead button:hover{
    background: #ffc106;
}
