* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo-principal {
    width: 150px;
    text-align: center;
}

.cabecalho-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link-cabecalho {
    text-decoration: none;
    padding: 15px;
}

@media screen and (max-width: 1440px) {
    .cabecalho-conteiner {
        flex-direction: column;


    }

    footer {
        /* flex-direction: column; */
    }
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}


footer {
    clear: both;
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}

#login {
    margin: auto;
    width: 200px;
    height: 60%;

}

#footerid {
    width: 100%;
}