*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo-principal{
    width: 150px;
}

.cabecalho-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link-cabecalho{
    text-decoration: none;
    padding: 15px;
}
@media screen and (max-width: 1440px){
    .cabecalho-conteiner{
        flex-direction: column;

    }
    
    
}
