* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
  padding: 20px;
  text-align: center;
}

body {

  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f8f8f8;
}

/* cursor*/
.cursor {
  z-index: 1000;
  position: fixed;
  width: 80px;
  height: 80px;
  right: 10px;
  border-radius: 50%;
  bottom: 800px;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  line-height: 80px;
  text-align: center;
  background-image: url(./imagens/seta-cima.png);
}

.cursor.-acitve {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}


header {
  background-color: black;
  font-size: 1.4em;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 8px;
}

h1,
h2 {
  padding: 20px;
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  margin-left: 12px;
  height: 100%;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  padding: 8px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  color: rgb(255, 255, 255);
}

nav ul li a:hover {
  color: #ffc106;
  align-items: center;
}

main {
  /* background-color: #ffc106; */
  flex-grow: 1;
  padding: 10px;
  width: auto;
  height: auto;
}

/* aside {
  background-color: rgba(239, 212, 212, 0.74);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  height: 100%;
  
}  */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: black;
  width: 100%;
  text-align: center;
  bottom: 0;
}

footer p {
  color: white;
}


#logo-principal {
  width: 150px;
  text-align: center;
}

#login {
  margin: auto;
  width: auto;
  height: 100vh;
}

.logo {
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.banner {
  background-color: rgb(209, 194, 107);
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  /**padding: 20px;**/
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts {
  float: left;
  width: 67%;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.cartao {
  display: flex;
  background-color: rgb(209, 194, 107);
  margin: 5px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.painel-interacao {
  display: flex;
  flex-direction: row;
}

.cabecalho-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.link-cabecalho {
  text-decoration: none;
  padding: 15px;
}

.img-div {
  display: relative;
  justify-content: center;
  align-items: center;
}

.sub-img-div {
  display: relative;
  justify-content: center;
  align-items: center;


}

.img-head-page {
  align-items: center;
  border-radius: 15px;
  margin: auto;
  padding: 10px;
  max-width: 80%;
  justify-content: center;
  display: flex;
}

.img-head-page img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


/*Responsividade*/

@media screen and (max-width: 1440px) {
  .cabecalho-conteiner {
    flex-direction: column;
  }

  nav {
    flex-direction: row;
  }


}

.privacy-body {
  padding: 2rem;
}

.privacy-body .container {
  max-width: 960px;
  margin: 0 auto;
}

.privacy-body .row {
  display: flex;
  flex-wrap: wrap;
}

.privacy-body .flex-limit {
  flex: 0 0 90% 0;
  max-width: 100%;
}

.privacy-body .course {
  padding: 48px 0 0 16px;
  margin-bottom: 32px;
}

.privacy-body h3 {
  font-size: 24px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 16px;
}

.privacy-body p {
  color: #212529;
  line-height: 1.6;
}

.text-box {
  padding: 20px;
  margin: 24px;

  flex: 0 0 66%;
  max-width: 960px;
  margin: 0 auto;



}

.text-box h4 {
  font-size: 20px;
  font-weight: 700;
  color: #212529;
  margin-bottom: 16px;
  line-height: 1.6;

}



.item {

  margin: 1rem;
  flex-direction: relative;
  flex-flow: column;
  justify-content: center;
  font-weight: 700;
  color: #080808;
  font: 1em sans-serif;
  max-width: 66%;

}

.brower-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  padding: 20px 0;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-blog {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.row-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-blog {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0 15px;
}

.blog-princi-title {
  text-align: center;
}

.blog-princi-title h2 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;

}