* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
  padding: 20px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f8f8f8;
}

header {
  background-color: lightblue;
  font-size: 1.2em;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-bottom: 20px;
}

ul {
  display: flex;
  align-items: center;
  margin-left: 12px;
  height: 100%;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  padding: 8px;
} 

nav ul li {
  list-style: none;
}

nav ul li a {
  color: rgb(70, 48, 151);
}

nav ul li a:hover{
  color: orange;
  align-items: center;  
}

main { 
  background-color: rgb(121, 37, 86);
  padding: 10px;
  width: auto;
  height: auto;
}

aside {
  background-color: rgba(239, 212, 212, 0.74);
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 30%;
  height: 100%;
  
} 

footer {
  display: flex;
  justify-content:space-evenly;
  padding: 8px;
  background-color: lightblue;
  width: 100%; 
  text-align: center;
}

#logo-principal {
  width: 150px;
  text-align: center;
}

#login {
  margin: auto;
  width: auto;
  height: 100vh;
}

.logo {
  padding-top: 20px;
}

.banner {
  background-color: rgb(255, 145, 0);
  text-align: center;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.posts {
  float: left;
  width: 67%;
}

.login-form {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

.cartao {
  display: flex;
  background-color: rgba(162, 162, 220, 0.596);
  margin: 5px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.painel-interacao {
  display: flex;
  flex-direction: row;
}

.cabecalho-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.link-cabecalho {
  text-decoration: none;
  padding: 15px;
}

/*Responsividade*/

@media screen and (max-width: 1440px) {
  .cabecalho-conteiner {
    flex-direction: column;
  }

    nav {
        flex-direction: column;
    }

  footer {
    /* flex-direction: column; */
  }
}
